## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [32]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_search/weatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather description,Lat,Lon,Hotel Name
0,1,Nizwa,OM,87.39,clear sky,22.9333,57.5333,Orient Apartments
1,8,Bigaa,PH,87.13,broken clouds,13.1978,123.7578,Miña's Mayon View Resort
2,9,Jeremie,HT,80.44,scattered clouds,18.6500,-74.1167,Auberge’Inn
3,14,West Bay,KY,82.00,few clouds,19.3667,-81.4167,Calypso Cove
4,21,Avarua,CK,80.65,light rain,-21.2078,-159.7750,Paradise Inn

In [33]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather description} and {Max Temp} </dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lon"]]

In [34]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lon"]]
max_temp= vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)



# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Ashti"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Ashti"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Nepa Nagar"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Anand"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Mangrol"]

,City_ID,City,Country,Max Temp,Weather description,Lat,Lon,Hotel Name
158,508,Mangrol,IN,83.12,overcast clouds,21.1167,70.1167,Hotel The Royal Honours

In [54]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5:7]
end = vacation_end.to_numpy()[0][5:7]
stop1 = vacation_stop1.to_numpy()[0][5:7]
stop2 = vacation_stop2.to_numpy()[0][5:7]
stop3 = vacation_stop3.to_numpy()[0][5:7]

In [57]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
direction_layer = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather description,Lat,Lon,Hotel Name
0,157,Ashti,IN,81.21,overcast clouds,19.3833,76.2333,Sree Sant Savta Mali
1,485,Nepa Nagar,IN,85.42,overcast clouds,21.4667,76.4000,Rest House Hilltop
2,202,Anand,IN,86.18,scattered clouds,22.5667,72.9333,DMAPR Guest House
3,508,Mangrol,IN,83.12,overcast clouds,21.1167,70.1167,Hotel The Royal Honours

In [64]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather description} and {Max Temp} </dd>
</dl>
"""


# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lon"]]

In [65]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lon"]]
max_temp= itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=3.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)



# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))